.singleItems{
    display: flex;
    align-items: center;
    justify-content: space-between;
}




@media screen and (max-width:478px) {
    .singleItems{
        display: block;    
    }
    
    .content-area{
        padding: 10px !important;
        margin: 0 !important;
        margin-top: 50px !important;
        box-shadow: none !important;
    }
    .button-section{
        display: block;
        

    }
    .button-section button{
        margin-bottom:20px ;
        width: 100%;
        
    }
}