.singleItem{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:478px){
    .singleItem{
        display: block;
        text-align: center;
       
    }
    .singleItem img{
        width: 100%;
        margin: auto;
        margin-bottom: 10px;
        
    }
}