.login{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
    padding: 50px;
    align-items: center;

}
.image-areaa{
    width: 60%;
    height: auto;
}

@media screen and (max-width:478px) {
    .login{
        display: grid;
        grid-template-columns: repeat(1,1fr);        
        padding: 10px;    
    }
    .image-areaa{
        width: 60%;
        height: auto;
        margin: auto;
    }
}