.accordion-section{
    width: 75%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ccc;
}
.backGcolor{
    background-color: white;
    border-radius: 10px;
}
